node_modules
dist
out
coverage
logs
.eslintcache
.env
.env.*
!.env.example
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
yarn-error.log
opencode.json
.DS_Store
